<html>
    <head>
        <title><%= data[0].name %>||Muktokishore</title>
        <link rel="stylesheet" href="/static/stylesheets/components.css">
        <link rel="stylesheet" href="/static/stylesheets/pages.css">
        <link href="https://fonts.maateen.me/charu-chandan-3d/font.css" rel="stylesheet">
        <link href="https://fonts.maateen.me/mukti/font.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Muktokishore|Here we are describing about ourself">
        <meta name="keywords" content="Muktokishore, Teenage welfare, Bangladeshi magazine">
    </head>
    <body>
        <%- include("../components/header", {active: "about"});  -%>
        <div class="main_div">
            <% data.forEach(element => { %>
                <img class="representative_image" src=<%= "data:image/jpeg;base64," + element.image.buffer.toString("base64") %>>
                <h1><%= element.name %></h1>
                <h2><%= element.post %></h2>
                <h3><%= element.institute %></h3>
                <h4>Contacts-</h4>
                <p>
                    <b>Phone:<%= element.phone %></b><br>
                    <b>Email:</b><%= element.email %><br>
                    <b>Present Address:</b><%= element.presentAddress %><br>
                    <b>Present Address:</b><%= element.permanentAddress %><br>
                </p>
             <% }); %>
        </div>
        <%- include("../components/footer");  -%>
        <script src="/static/scripts/script.js"></script>
    </body>
</html>