<html>
    <head>
        <title><%= data[0].name %>||Muktokishore</title>
        <link rel="stylesheet" href="/static/stylesheets/components.css">
        <link rel="stylesheet" href="/static/stylesheets/admin/style.css">
        <link rel="stylesheet" href="/static/stylesheets/pages.css">
        <link href="https://fonts.maateen.me/charu-chandan-3d/font.css" rel="stylesheet">
        <link href="https://fonts.maateen.me/mukti/font.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Muktokishore|Here we are describing about ourself">
        <meta name="keywords" content="Muktokishore, Teenage welfare, Bangladeshi magazine">
    </head>
    <body>
        <%- include("../components/header", {active: "about"});  -%>
        <div class="main_div">
            <% data.forEach(element => { %>
                <img class="representative_image" src=<%= "data:image/jpeg;base64," + element.image.buffer.toString("base64") %>>
                <h1><%= element.name %></h1>
                <div>
                    <p>
                        <%= element.post %>,<br>
                        <%= element.institute %>
                    </p>
                </div>
                <p style="margin-top: 17px;margin-bottom: 17px;">
                    <span>Contacts-</span><br>
                    <b>Phone:</b><a href='<%= "tel:" + element.phone %>'><%= element.phone %></a><br>
                    <b>Email:</b><a href='<%= "mailto:" + element.email %>'><%= element.email %></a><br>
                    <b>Present Address:</b><%= element.presentAddress %><br>
                    <b>Present Address:</b><%= element.permanentAddress %><br>
                </p>
                <span class="addButton"><a href='<%= "/admin/addRepresentative/" + element._id %>'>Add to team</a></span>
             <% }); %>
        </div>
        <%- include("../components/footer");  -%>
        <script src="/static/scripts/script.js"></script>
    </body>
</html>