<html>
    <head>
        <title>Muktokishore Admin</title>
        <link rel="stylesheet" href="/static/stylesheets/components.css">
        <link rel="stylesheet" href="/static/stylesheets/pages.css">
        <link href="https://fonts.maateen.me/charu-chandan-3d/font.css" rel="stylesheet">
        <link href="https://fonts.maateen.me/mukti/font.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Muktokishore|Here we are describing about ourself">
        <meta name="keywords" content="Muktokishore, Teenage welfare, Bangladeshi magazine">
    </head>
    <body>
        <%- include("../components/header", {active: "about"});  -%>
        <div class="main_div">
            <% data.forEach(element => { %>
               <div class="representative">
                    <img class="imgDiv" src=<%= "data:image/jpeg;base64," + element.image.buffer.toString("base64") %>>
                    <div style="margin-left: 7px;">
                        <p>
                            <a href="/admin/representative/<%= element._id %>"><%= element.name %></a><br>
                            <%= element.post %>,<br>
                            <%= element.institute %>
                        </p>
                    </div>
               </div> 
            <% }); %>
        </div>
        <%- include("../components/footer");  -%>
        <script src="/static/scripts/script.js"></script>
    </body>
</html>